{#

Description text for the Tour Example.

#}

{% trans %}


<h2>The Tour:</h2>
<p>Click the 'Tour' icon in the admin menu bar to start.</p>
<div class="button" id="tour-id-1">First item.</div>
<div class="button" id="tour-id-2">Second item.</div>
<div class="button" id="tour-id-3">Third item.</div>
<div class="button" id="tour-id-4">Fourth item.</div>


{% endtrans %}
